DOCKER_CONFIG_DIR=/opt/docker

# User/group IDs
PUID=1000
PGID=1000

# Music library directories (mounted as read-only into the container, put as many as needed)
MUSIC_DIR_1=/mnt/music/user1
MUSIC_DIR_2=/mnt/music/user2
MUSIC_DIR_3=/mnt/music/user3
