
ATTIC_DB_PASSWORD=your-attic-db-password-here
ATTIC_SERVER_TOKEN_RS256_SECRET_BASE64=your-base64-rs256-secret-here
DOCKER_CONFIG_DIR=/volume2/docker
DOCKER_DATA_DIR=/volume1/Default-volume-1/0001_Docker
PGID=10
PUID=1000
TZ=Europe/Zurich
