services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    environment:
      - TZ=Europe/Zurich
      - TUNNEL_TOKEN=${TOKEN}
    restart: always
    command: tunnel --no-autoupdate --metrics 0.0.0.0:7844 run
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - cloudflare_web_network
    volumes:
      - /volume2/docker/cloudflared:/etc/cloudflared
    healthcheck:
      test: ["CMD", "cloudflared", "tunnel", "--metrics", "127.0.0.1:7844", "ready"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

networks:
  cloudflare_web_network:
    name: cloudflare-web
    external: true
