DOCKER_CONFIG_DIR=/opt/docker

# Beszel agent secrets
BESZEL_AGENT_TOKEN=your-agent-token-here
BESZEL_AGENT_KEY=ssh-ed25519 your-public-key-here
BESZEL_HUB_URL=ws://Beszel:8090

# Beszel filesystem device to monitor
BESZEL_FILESYSTEM=/dev/sda1
