TZ=Europe/Zurich
AFFINE_EXTERNAL_URL=https://affine.nicolkrit.ch
AFFINE_ADMIN_EMAIL=krit@example.com
AFFINE_ADMIN_PASSWORD=change-me-strong-password
AFFINE_DB_USER=affine
AFFINE_DB_PASSWORD=change-me-db-password
AFFINE_DB_NAME=affine
AFFINE_MAILER_USER=you@gmail.com
AFFINE_MAILER_PASSWORD=xxxx-xxxx-xxxx-xxxx
