services:
  cardyo:
    image: ghcr.io/kyaustad/cardyo:latest
    container_name: cardyo
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - cloudflare_web_network

networks:
  cloudflare_web_network:
    name: cloudflare-web
    external: true
